<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista do Banco de dados</title>
</head>
<body>
    <main>
        <h2>Cadastrando usuario</h2>
        <form action="/save" method="post">
            <input name="id"  hid value="55">
            <input name="user" type="text" placeholder="Digite o seu nome" required>
            <input name="age" type="number" placeholder="Digite o sua idade" required>
            <input name="create" type="datetime-local" >
            <button>Salvar</button>
        </form>
    </main>
</body>
</html>